.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.inputField {
  border: 1px solid gray;
  text-align: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;

  &:focus {
    outline: none;
  }
  &:read-only {
    background-color: #a0a1a1;
  }
  @media screen and (max-width: 600px) {
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
  }
  @media screen and (max-width: 380px) {
    height: 1.7rem;
    width: 1.7em;
    font-size: 1rem;
  }
}

.rightBorder {
  border-right: 2px solid black;
}
.bottomBorder {
  border-bottom: 2px solid black;
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  margin: 2rem 1rem;
  cursor: pointer;
  background-color: #282c34;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;

  &:hover {
    background-color: #4c4f57;
  }
}

h1 {
  margin-top: 0;
}
